<div overflow-x-auto>
    {% comment %} {{ inventory|json_script:"inventory-json" }} {% endcomment %}

    <table x-data="{}"
            class="table table-zebra table-lg 
                    table-pin-rows">
        <thead>
            <tr>
                <th>Name</th>
                <th>SKU</th>
                <th>Delivery Type</th>
                <th>On Order</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for inventory_entry in inventory %}
                <tr>
                    {% comment %} <td>{{ inventory_entry.name }}</td> {% endcomment %}
                    <td>{{inventory_entry.name}}</td>
                    <td> {{inventory_entry.sku }}</td>
                    {% comment %} <td x-text="inventory_entry.delivery_type"></td> {% endcomment %}
                    <td>{{inventory_entry.delivery_type}}</td>
                    <td>
                        {{inventory_entry.id}}                       
                    </td>
                    <td>

                        <button 
                            x-on:click="listDetailsModal.showModal()"
                            hx-get="/portal/inventory/list-detail/{{inventory_entry.id}}"
                            hx-target="#listDetailsContainer"
                            hx-swap="outerHtml"
                            class="btn btn-sm btn-primary">
                            Delivery Details
                        </button>

                    </td>
                    

                </tr>

                {%endfor%}
        </tbody>
    </table>
    <dialog id="listDetailsModal" class="modal">
        <div class="modal-box w-screen max-w-5xl">
            <div id="listDetailsContainer"></div>
        </div>
    </dialog>
</div>