{% extends 'authenticated-base.html' %}
{% block content %}

<div class="flex flex-col items-center mx-10 md:mx-20">
    <h1 class="prose-2xl mb-4">Inventory List</h1>

    
    <table class="table table-zebra table-lg">
        <thead>
            <tr>
                <th>Name</th>
                <th>SKU</th>
                <th>Delivery Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="todo-table-body">
        {% for inventory_entry in inventory %}
                <tr>
                    <td>{{ inventory_entry.name }}</td>
                    <td>{{ inventory_entry.sku }}</td>
                    <td>{{ inventory_entry.delivery_type }}</td>
                    <td>
                        <button class="btn btn-xs btn-blue">+</button>
                        <span>12</span>
                        <button class="btn btn-xs btn-error">-</button>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}