{% comment %} {% load compress %} {% endcomment %}
 {% load static %}

<!DOCTYPE html>
<html  lang="en">
  {% load static tailwind_tags %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenIMS</title>

    {% comment %} {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %} {% endcomment %}
		{% tailwind_css %}

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.9/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>

    {% comment %} alpine {% endcomment %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>


</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="navbar bg-cadet-100">
            <div class="flex-1">
              <a class="btn btn-ghost text-xl">OpenIMS</a>
            </div>
            <div class="flex-none">
              <ul class="menu menu-horizontal px-1">
                <li><a href="/portal/inventory/">Inventory</a></li>
                <li>
                  <details>
                    <summary>
                      Parent
                    </summary>
                    <ul class="p-2 bg-blue rounded-t-none">
                      <li><a>Link 1</a></li>
                      <li><a>Link 2</a></li>
                    </ul>
                  </details>
                </li>
              </ul>
            </div>
          </div>
          <div class="drawer lg:drawer-open xl:drawer-open">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />

          <div class="drawer-content bg-ivory">
            {% block content %}
            {% endblock %}
          </div> 
          {% include 'drawer-sidebar.html' %}
    </div>
    
</body>
</html>